<!-- JavaScript for Encryption, ZIP, Upload Area, and Spinner -->
{% import "macros/icons.html" as icons %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" integrity="sha384-wj2H3JPCraDV2eZ/vqVPAvEIkFv7WCZAac4WV7Gt/hfpso4sCcOuARI3O2rRqFV0" crossorigin="anonymous"></script>
<script>
    window.FsQrUploadConfig = Object.freeze({
        debug: {{ frontend_debug | tojson }},
        limits: Object.freeze(((window.AppConfig || {}).limits || {}).upload || {}),
        icons: Object.freeze({
            file: {{ icons.icon('document', size='lg', extra_classes='modern-file-icon') | tojson }},
            trash: {{ icons.icon('trash', size='lg') | tojson }},
            cloudUpload: {{ icons.icon('cloud_upload', size='xxl') | tojson }},
            check: {{ icons.icon('check_circle', size='xxl') | tojson }},
            rocket: {{ icons.icon('rocket', size='lg', with_text=True) | tojson }}
        })
    });
</script>
<script src="{{staticfile('js/fs_qr_upload/core.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/retention.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/id-mode.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/file-selection.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/spinner.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/encryption.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/upload-submit.js')}}"></script>
<script src="{{staticfile('js/fs_qr_upload/main.js')}}"></script>
