{% import "macros/icons.html" as icons %}
<!-- Spinner Container (Hidden initially) -->
<div id="spinner-container" class="spinner-container" style="display:none;">
    <div class="spinner-second-container">
        <div class="icon file">
            {{ icons.icon('document', extra_classes='svg-icon--spinner') }}
        </div>
        <div class="icon lock">
            {{ icons.icon('lock', extra_classes='svg-icon--spinner') }}
        </div>
        <div class="icon upload">
            {{ icons.icon('arrow_up', extra_classes='svg-icon--spinner') }}
        </div>
        <div class="icon cloud">
            {{ icons.icon('cloud', extra_classes='svg-icon--spinner') }}
        </div>
        <div class="text">暗号化中...</div>
        <div class="progress-bar-container">
            <div class="progress-bar"></div>
        </div>
    </div>
</div>
