# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.dll
*.json
*.Identifier
# ログファイルを無視
*.log
*.cgi
*.htaccess

*.zip
*.pptx
*.txt

gitoken.txt
# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/


# .gitkeepのみ追跡対象にする
static/qrcode/*
!static/qrcode/.gitkeep
static/upload/*
!static/upload/.gitkeep
static/group_uploads/*
!static/group_uploads/.gitkeep

# ビルドディレクトリを無視
/build/
__pycache__/