# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.dll
*.json
*.Identifier
# ログファイルを無視

*.cgi
*.htaccess

*.zip
*.pptx
*.txt
!ads.txt

# Test files
test_app.py


# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/


# .gitkeepのみ追跡対象にする
static/qrcode/*
!static/qrcode/.gitkeep
static/upload/*
!static/upload/.gitkeep
static/group_uploads/*
!static/group_uploads/.gitkeep

logs/*




# ビルドディレクトリを無視
/build/
__pycache__/.env
__pycache__/
*.pyc
