services:
  web:
    build: .
    environment:
      - SQL_USER=${SQL_USER}
      - SQL_PW=${SQL_PW}
      - SQL_DB=${SQL_DB}
      - SQL_HOST=${SQL_HOST}
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - .:/app  # アプリケーションコードのマウント
      - ./logs:/app/logs  # ホストの ./logs ディレクトリをコンテナ内 /app/logs にマウント
    depends_on:
      - db
      - redis
    ports:
      - "5000:5000"  # ホストの5000番ポートをDockerのwebサービスにマッピング
    networks:
      - app-network

  scheduler:
    build: .
    environment:
      - SQL_USER=${SQL_USER}
      - SQL_PW=${SQL_PW}
      - SQL_DB=${SQL_DB}
      - SQL_HOST=${SQL_HOST}
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - .:/app
      - ./logs:/app/logs
    depends_on:
      - db
    command:
      - /usr/local/bin/wait-for-it
      - db:3306
      - --
      - python
      - scheduler.py
    networks:
      - app-network

  db:
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=tocer2955
      - MYSQL_DATABASE=fsqr
      - MYSQL_USER=${SQL_USER}
      - MYSQL_PASSWORD=${SQL_PW}
    volumes:
      - db_data:/var/lib/mysql
      - ./db_init:/docker-entrypoint-initdb.d
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
