{% extends "task_layout.html" %}
{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_googlebot %}noindex, nofollow{% endblock %}
{% block page_title %}{{ _("タスクボード検索 | FS!QR Task - 既存ボードへの参加") }}{% endblock %}
{% block meta_description %}{{ _("FS!QR Taskで既存の共有タスクボードを検索・参加。ルームIDとパスワードでチームのカンバンボードに参加してタスク管理を始めましょう。") }}{% endblock %}
{% block meta_keywords %}{{ _("タスクボード検索, タスクボード参加, 共有タスク検索, 既存ボード参加, カンバン参加, FS QR Task") }}{% endblock %}
{% block og_title %}{{ _("タスクボード検索 | FS!QR Task - 既存ボードへの参加") }}{% endblock %}
{% block og_description %}{{ _("FS!QR Taskで既存の共有タスクボードを検索・参加。ルームIDとパスワードでチームのカンバンボードに参加してタスク管理を始めましょう。") }}{% endblock %}
{% block twitter_title %}{{ _("タスクボード検索 | FS!QR Task") }}{% endblock %}
{% block twitter_description %}{{ _("既存の共有タスクボードを検索・参加。ルームIDとパスワードでチームのカンバンボードに参加できます。") }}{% endblock %}
{% block contents %}
{% set room_search_id_prefix = 'task-search' %}
{% set room_search_theme_start = '#b45309' %}{% set room_search_theme_end = '#f59e0b' %}
{% set room_search_title = _("タスクボードを検索") %}{% set room_search_action = '/search_task_process' %}
{% set room_search_id_name = 'id' %}{% set room_search_password_name = 'password' %}
{% set room_search_id_label = _("task.room_id") %}{% set room_search_password_label = _("task.password") %}
{% set room_search_id_placeholder = _("ルームIDを入力（半角英数字6文字）") %}{% set room_search_password_placeholder = _("パスワードを入力（半角数字6桁）") %}
{% set room_search_id_title = _("6文字の半角英数字で入力してください") %}{% set room_search_password_title = _("6桁の数字で入力してください") %}
{% set room_search_submit_label = _("common.search") %}
{% include "_room_search_card.html" %}
{% endblock %}
