{% extends "group_layout.html" %}

{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_googlebot %}noindex, nofollow{% endblock %}

{% block page_title %}グループルーム {{ room_id }} | FS!QR Group - チームファイル共有{% endblock %}

{% block meta_description %}FS!QR Groupのチームファイル共有ルーム。複数人で安全にファイルをアップロード・ダウンロード・管理。リアルタイムでファイルを共有できる協業ツール。{% endblock %}

{% block meta_keywords %}グループルーム, チームファイル共有, ファイルアップロード, ファイルダウンロード, 企業ファイル管理, 協業ツール, FS QR Group{% endblock %}

{% block og_title %}グループルーム {{ room_id }} | FS!QR Group - チームファイル共有{% endblock %}

{% block og_description %}FS!QR Groupのチームファイル共有ルーム。複数人で安全にファイルをアップロード・ダウンロード・管理。リアルタイムでファイルを共有できる協業ツール。{% endblock %}

{% block twitter_title %}グループルーム {{ room_id }} | FS!QR Group{% endblock %}

{% block twitter_description %}チームファイル共有ルーム。複数人で安全にファイルをアップロード・ダウンロード・管理できます。{% endblock %}

{% block contents %}

{% include 'group_room/_styles.html' %}

{% include 'group_room/_content.html' %}{% include 'group_room/_copy_script.html' %}
{% include 'group_room/_jquery_script_tag.html' %}{% include 'group_room/_main_script.html' %}
{% endblock %}
