{% extends "layout.html" %}

{% block page_title %}ファイルアップロード | FS!QR - QRコードファイル共有{% endblock %}

{% block meta_description %}FS!QRでファイルをアップロードしてQRコードで簡単共有。画像、動画、文書などあらゆるファイルを安全にアップロード・共有できる無料ファイル共有サービス。{% endblock %}

{% block meta_keywords %}ファイルアップロード, QRコードファイル共有, ファイル共有サービス, 画像共有, 動画共有, 文書共有, 無料ファイル共有, FS QR{% endblock %}

{% block og_title %}ファイルアップロード | FS!QR - QRコードファイル共有{% endblock %}

{% block og_description %}FS!QRでファイルをアップロードしてQRコードで簡単共有。画像、動画、文書などあらゆるファイルを安全にアップロード・共有できる無料ファイル共有サービス。{% endblock %}

{% block twitter_title %}ファイルアップロード | FS!QR{% endblock %}

{% block twitter_description %}ファイルをアップロードしてQRコードで簡単共有。画像、動画、文書などあらゆるファイルを安全に共有できます。{% endblock %}

{% block contents %}{% include "fs_qr_upload/_styles.html" %}{% include "fs_qr_upload/_main_content.html" %}
{% include "fs_qr_upload/_spinner.html" %}
{% include "fs_qr_upload/_scripts.html" %}
{% endblock %}
