{% extends "layout.html" %}
{% import "macros/icons.html" as icons %}

{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_googlebot %}noindex, nofollow{% endblock %}

{% block page_title %}ファイル情報 | FS!QR - アップロード完了{% endblock %}

{% block meta_description %}FS!QRファイルアップロード完了。QRコードとダウンロードリンクが生成されました。ファイルを安全に共有・管理できます。{% endblock %}

{% block meta_keywords %}ファイル情報, アップロード完了, QRコード生成, ダウンロードリンク, ファイル共有完了, FS QR{% endblock %}

{% block og_title %}ファイル情報 | FS!QR - アップロード完了{% endblock %}

{% block og_description %}FS!QRファイルアップロード完了。QRコードとダウンロードリンクが生成されました。ファイルを安全に共有・管理できます。{% endblock %}

{% block twitter_title %}ファイル情報 | FS!QR{% endblock %}

{% block twitter_description %}ファイルアップロード完了。QRコードとダウンロードリンクが生成されました。{% endblock %}

{% block contents %}
{% include "fs_qr_info/_styles.html" %}
{% include "fs_qr_info/_content.html" %}
{% include "fs_qr_info/_scripts.html" %}
{% endblock %}
