version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - SQL_USER=${SQL_USER}
      - SQL_PW=${SQL_PW}
      - SQL_DB=${SQL_DB}
      - SQL_HOST=db  # MySQLコンテナを指定
    volumes:
      - .:/app

    depends_on:
      - db
    command: /bin/sh -c "sleep 10 && uvicorn app:app --host 0.0.0.0 --port=5000 --reload"

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${SQL_DB}
      MYSQL_USER: ${SQL_USER}
      MYSQL_PASSWORD: ${SQL_PW}
    volumes:
      - db_data:/var/lib/mysql
      - ./db_init:/docker-entrypoint-initdb.d  # この行を追加

volumes:
  db_data:
