.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}
@media (max-width: 480px) {
  .content {
    padding: 0 10px;
    max-width: 90%;
  }
}

#info {
  margin: 16px; padding: 8px;
}
select {
    width:13em;
}



th { text-align: right; }






.hold {
  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  clear: both;
  display: block;
  margin: 48px 0;
  padding: 12px 0;
}

.Paper {
  display: table-cell;
  font-weight: bold;
  height: 100%;
  padding-left: 16px;
  vertical-align: middle;
}

.Label {
  font-size: .8rem;
  font-family: "headline-semi", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1;
}




.af-box {
  width: 100%;
  max-width: 600px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  margin: 1.6rem 0;

  border-radius: 10px;
}


.af-box a {
  line-height: 1.9em;
  text-decoration: none;
  color: #ffffff;
  display: grid;
  overflow: hidden;
}

@media only screen and (min-width: 0) {
  .af-box a {

    grid-template-columns: 140px fit-content(100%);
  }
}

@media only screen and (min-width: 768px) {
  .af-box a {

    grid-template-columns: 160px fit-content(100%);
  }
}

.af-box a:hover {
  text-decoration: none;
}

.af-textbox {
  position: relative;
  grid-column: 2;
  padding: 8px 10px;
  overflow: hidden;
}

.af-title {
  font-weight: 700;
  max-height: 30em;
  margin: 0 !important;
  overflow: hidden;
}


/* 検索のデザイン */
.search-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.search-link img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.search-link span {
  font-family: 'Kaisei Opti', serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  margin-left: 10px;
  color: rgb(0, 109, 128);
  text-decoration: none;
}

/* ホバー時の拡大 (画像のみ) */
.search-link:hover img {
  transform: scale(1.2);
}