<footer class="simple-footer service-footer">
  <nav aria-label="{{ _("フッターナビゲーション") }}">
    <a href="/">{{ _("ホーム") }}</a>
    <a href="/about">{{ _("サイト概要") }}</a>
    <a href="/privacy-policy">{{ _("プライバシーポリシー") }}</a>
    <a href="/terms">{{ _("利用規約") }}</a>
    <a href="/contact">{{ _("お問い合わせ") }}</a>
    <a href="/usage">{{ _("使い方") }}</a>
    <a href="/site-operator">{{ _("サイト運営者情報") }}</a>
    <a href="/articles">{{ _("解説記事") }}</a>
    <button type="button" class="footer-link-button" data-cookie-settings>{{ _("設定") }}</button>
  </nav>
  <small>Copyright &copy;2026 FS!QR, All Rights Reserved.</small>
</footer>