{% extends "layout.html" %}
{% block contents %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4 text-center">解説記事</h2>
          <ul class="list-group list-group-flush">
            {% for art in articles %}
            <li class="list-group-item"><a href="{{ art.url }}">{{ art.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
