version: '3.8'

services:
  web:
    build: .
    environment:
      - SQL_USER=${SQL_USER}
      - SQL_PW=${SQL_PW}
      - SQL_DB=${SQL_DB}
      - SQL_HOST=db
    volumes:
      - .:/app
    depends_on:
      - db
    ports:
      - "5000:5000"  # ホストの5000番ポートをDockerのwebサービスにマッピング
    networks:
      - app-network

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${SQL_DB}
      MYSQL_USER: ${SQL_USER}
      MYSQL_PASSWORD: ${SQL_PW}
    volumes:
      - db_data:/var/lib/mysql
      - ./db_init:/docker-entrypoint-initdb.d
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
