{% extends "_base.html" %}
{#
  FS!QR Task 用レイアウト。共通の HTML shell は _base.html にある。
  Task service layout; the shared HTML shell lives in _base.html.
#}
{% set service_slug = 'task' %}
{% set service_site_name = 'FS!QR Task' %}
{% set service_body_class = 'task-section' %}
{% set service_theme_color = '#f59e0b' %}
{% set service_logo = 'task_logo.png' %}
{% set service_logo_width = '277' %}
{% set service_logo_alt = 'FS!QR Task' %}
{% set service_menu_url = '/task_menu' %}
{% set service_search_url = '/search_task' %}
{% set service_search_icon = 'task_search.png' %}
{% set service_manifest_url = '/manifest/task.webmanifest' %}
{% set service_apple_title = 'Task' %}
{% set service_apple_touch_icon = 'apple-touch-icon5.png' %}
{% set service_search_icon_alt = _("common.search") %}
{% set service_search_label = _("common.search") %}
{% set service_nav_aria_label = _("common.service_navigation") %}
{% set service_nav_home_label = _("common.home") %}
{% set organization_alternate_name = _("task.layout.organization_name") %}
{% set service_meta_description = _("task.layout.meta_description") %}
{% set service_meta_keywords = _("task.layout.meta_keywords") %}
{% set service_og_title = _("task.layout.og_title") %}
{% set service_og_description = _("task.layout.og_description") %}
{% set service_og_image_alt = _("task.layout.service_alt") %}
{% set service_twitter_title = _("task.layout.og_title") %}
{% set service_twitter_description = _("task.layout.og_description") %}
{% set service_twitter_image_alt = _("task.layout.service_name") %}
{% set service_page_title = _("task.layout.og_title") %}

{% block app_config %}
    <script>
      window.AppConfig = Object.freeze({
        limits: Object.freeze({
          task: Object.freeze({
            maxItemsPerRoom: {{ task_max_items_per_room | default(200) | tojson }},
            maxTitleLength: {{ task_max_title_length | default(200) | tojson }},
            maxNoteLength: {{ task_max_note_length | default(500) | tojson }},
            maxCategoryLength: {{ task_max_category_length | default(40) | tojson }}
          })
        })
      });
    </script>
{% endblock %}

{% block schema_website %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "FS!QR Task",
      "alternateName": {{ _("task.layout.schema_alternate_name") | tojson }},
      "url": "{{ request.url_root }}task",
      "description": {{ _("task.layout.schema_description") | tojson }},
      "inLanguage": {{ schema_language | tojson }},
      "isPartOf": {
        "@type": "WebSite",
        "name": "FS!QR",
        "url": "{{ request.url_root }}"
      },
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ request.url_root }}search_task?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FS!QR",
        "url": "{{ request.url_root }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ staticfile('task_logo.png') }}"
        }
      }
    }
    </script>
{% endblock %}

{% block schema_extra %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "FS!QR Task",
      "description": {{ _("task.layout.software_description") | tojson }},
      "applicationCategory": "WebApplication",
      "operatingSystem": "Web Browser",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "JPY"
      },
      "featureList": [
        {{ _("task.layout.feature_kanban") | tojson }},
        {{ _("task.layout.feature_collaboration") | tojson }},
        {{ _("task.layout.feature_priority") | tojson }},
        {{ _("task.layout.feature_drag_drop") | tojson }},
        {{ _("task.layout.feature_auto_delete") | tojson }}
      ]
    }
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ staticfile('css/16-task-board.css') }}">
{% endblock %}
