{% extends "note_layout.html" %}

{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_googlebot %}noindex, nofollow{% endblock %}

{% block page_title %}ノートルーム {{ room_id }} | FS!QR Note - リアルタイム共同編集{% endblock %}

{% block meta_description %}FS!QR Noteのリアルタイム共同編集ノートルーム。複数人でオンラインノートを同時編集・共有。リアルタイムでテキストが同期される協業ノートツール。{% endblock %}

{% block meta_keywords %}ノートルーム, リアルタイム共同編集, オンラインノート, 同時編集, 協業ツール, 共有ノート, FS QR Note{% endblock %}

{% block og_title %}ノートルーム {{ room_id }} | FS!QR Note - リアルタイム共同編集{% endblock %}

{% block og_description %}FS!QR Noteのリアルタイム共同編集ノートルーム。複数人でオンラインノートを同時編集・共有。リアルタイムでテキストが同期される協業ノートツール。{% endblock %}

{% block twitter_title %}ノートルーム {{ room_id }} | FS!QR Note{% endblock %}

{% block twitter_description %}リアルタイム共同編集ノートルーム。複数人でオンラインノートを同時編集・共有できます。{% endblock %}

{% block contents %}

{% include "note_room_partials/note_room_styles.html" %}
{% include "note_room_partials/note_room_content.html" %}
{% include "note_room_partials/note_room_copy_script.html" %}
{% include "note_room_partials/note_room_realtime_script.html" %}
{% endblock %}
