{% extends "_article_base.html" %}

{% set article_title = "ai_ad_transparency.title" %}
{% set article_heading = "ai_ad_transparency.heading" %}
{% set article_description = "ai_ad_transparency.description" %}
{% set article_keywords = "ai_ad_transparency.keywords" %}
{% set article_slug = "ai-ad-transparency-guide" %}
{% set article_section = "AI・デジタル活用" %}
{% set article_published = "2026-07-15" %}
{% set article_thumbnail = "articles/thumbnails/ai-ad-transparency-guide.png" %}
{% set cta_service = "fsqr" %}

{% block article_body %}
ai_ad_transparency.body
{% endblock %}
