{% extends "_article_base.html" %}

{% set article_title = "client_file_handoff.title" %}
{% set article_heading = "client_file_handoff.heading" %}
{% set article_description = "client_file_handoff.description" %}
{% set article_keywords = "client_file_handoff.keywords" %}
{% set article_slug = "client-file-handoff" %}
{% set article_section = "ビジネス" %}
{% set article_published = "2026-07-12" %}
{% set article_thumbnail = "articles/thumbnails/client-file-handoff.png" %}

{% block article_body %}
<p>client_file_handoff.introduction</p>

<h3>client_file_handoff.before_heading</h3>
<p>client_file_handoff.before_body</p>

<h3>client_file_handoff.message_heading</h3>
<p>client_file_handoff.message_body</p>

<h3>client_file_handoff.after_heading</h3>
<p>client_file_handoff.after_body</p>
{% endblock %}
